*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contanier
{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
    background-color: #131419;
    position: relative;
  }
  
  .icon-border {
    width: 220px;
    height: 220px;
    border-radius: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .icon-clock {
    overflow: hidden;
    border-radius: 50%;
    background: #131419;
	box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
	2px 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  .anlog_clock {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background: #131419;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .anlog_clock ol {
    list-style-type: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .anlog_clock ol li {
    counter-increment: labelCounter;
    position: absolute;
    font-size: 1.25em;
    color: white;
  }
  .anlog_clock ol li:before {
    font-family: "Helvetica";
    content: counter(labelCounter) "";
  }
  .anlog_clock ol li:nth-child(1) {
    right: 55px;
    top: 20px;
  }
  .anlog_clock ol li:nth-child(2) {
    right: 25px;
    top: 50px;
  }
  .anlog_clock ol li:nth-child(3) {
    right: 12px;
    top: 85px;
  }
  .anlog_clock ol li:nth-child(4) {
    right: 25px;
    top: 125px;
  }
  .anlog_clock ol li:nth-child(5) {
    right: 55px;
    top: 150px;
  }
  .anlog_clock ol li:nth-child(6) {
    right: 90px;
    top: 160px;
  }
  .anlog_clock ol li:nth-child(7) {
    right: 125px;
    top: 150px;
  }
  .anlog_clock ol li:nth-child(8) {
    right: 155px;
    top: 125px;
  }
  .anlog_clock ol li:nth-child(9) {
    right: 165px;
    top: 85px;
  }
  .anlog_clock ol li:nth-child(10) {
    right: 150px;
    top: 50px;
  }
  .anlog_clock ol li:nth-child(11) {
    right: 120px;
    top: 20px;
  }
  .anlog_clock ol li:nth-child(12) {
    right: 85px;
    top: 10px;
  }
  
  @-webkit-keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  #hours {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ff0047;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
  }
  #hours:before, #hours:after {
    content: "";
    display: block;
    position: absolute;
  }
  #hours:before {
    width: 8px;
    height: 65px;
    border-radius: 4px;
    background:#ff0047;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  #minutes {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ff0047;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #minutes:before, #minutes:after {
    content: "";
    display: block;
    position: absolute;
  }
  #minutes:before {
    width: 6px;
    height: 90px;
    border-radius: 4px;
    background: #ff0047;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  #seconds {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #006c9c;
    border: 2px solid #006c9c;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
  }
  #seconds:before, #seconds:after {
    content: "";
    display: block;
    position: absolute;
  }
  #seconds:before {
    width: 2px;
    height: 105px;
    border-radius: 4px;
    background: #006c9c;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
  }